@font-face{
  font-family: 'HelveticaNeue';
  src: url('../../assets/fonts/HelveticaNeue.ttf') format('truetype');
}

.select {
  color: #1890ff !important;
  font: 14px HelveticaNeue;

  span {
    opacity: 1;
  }
}

.rightFilter {
  @media (max-width: 330px) {
    > div {
      padding: 0 3px !important;

      > span:nth-child(2) {
        max-width: 58px;
        text-overflow: ellipsis;
      }
    }
  }

  @media (min-width: 331px) and (max-width: 380px) {
    > div > span:nth-child(2) {
      max-width: 73px;
      text-overflow: ellipsis;
    }
  }
}

.arrowIcon {
  color: #1890ff !important;
  font-size: 10px;
}

.option {
  color: #1890ff !important;
  width: fit-content;

  @media (max-width: 360px) {
    width: 100%;
  }
}

.dropDown {
  width: auto !important;

  > div > div:nth-child(2) > div > div {
    position: static !important;
  }

  @media (max-width: 360px) {
    left: 0 !important;
    right: 0 !important;
  }
}


