.input {
  width: 300px !important;
  background-color: transparent !important;
  border-radius: 3px !important;
  @media (max-width: 510px) {
    width: 200px !important;
  }
  @media (max-width: 320px) {
    width: 120px !important;
  }

  > input {
    background-color: transparent;
    color: white;
  }

  > span > span:last-child {
    background-color: transparent !important;

    > button {
      background-color: transparent;
      border: 1px solid white;
      width: 32px;
      border-radius: 0 3px 3px 0;
      align-items: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.focused {
  background-color: rgb(93, 155, 212) !important;
  color: white;

  > span > span:last-child > button {
    background-color: rgb(93, 155, 212);
    border: 1px solid rgb(93, 155, 212);
  }
}
