@font-face{
  font-family: 'HelveticaNeue';
  src: url('../../assets/fonts/HelveticaNeue.ttf') format('truetype');
}

.header {
  color: white !important;
}

.blueHeader {
  color: rgb(10, 174, 228) !important;
}

.bold {
  font-weight: 600 !important;
}

.normal {
  font-weight: 100 !important;
}

.helveticaNeue {
  font-family: HelveticaNeue;
}

.arial {
  font-family: Arial;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}
